# Python Virtual Environments
venv/
.venv/
env/
ENV/

# Python Cache & Compiled files
**/__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
**/.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Repository backups
**/.git-backup/

# SQLite databases
**/*.db
